apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-config
data:
  APP_NAME: "Laravel"
  APP_ENV: "production"
  APP_DEBUG: "false"
  APP_URL: "http://stage-platform.local"
  APP_KEY: "CHANGEZ_MOI_GENERER_AVEC_PHP_ARTISAN_KEY_GENERATE"
  DB_CONNECTION: "mysql"
  DB_HOST: "stage-mysql-service"
  DB_PORT: "3306"
  DB_DATABASE: "stage_platform"
  DB_USERNAME: "root"
  SESSION_DRIVER: "database"
  CACHE_STORE: "database"
  QUEUE_CONNECTION: "database"